.kaab-heading {
    color: #292929;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: 120%;
}

.kaab-subheading {
    font-size: 16px;
    color: #3d3d3d;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    line-height: 135%;
    margin: 0;
}

.kaab-stats {
  display: flex;
  gap: 12px;
  margin: 32px 0;
  flex-wrap: wrap;
}

.kaab-card p.first-child {
    color: #3d3d3d;
    font-family: inherit;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 135%;
    margin-bottom: 24px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.kaab-card p.first-child i {
    height: 24px;
    width: 24px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid #292929;
    border-radius: 50%;
}

.kaab-card {
    background: white;
    padding: 16px;
    border-radius: 16px;
    flex: 1 1;
    border: 1px solid #ECECEC;
}

.kaab-card h3 {
    color: #292929;
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: 120%;
    margin: 0;
    display: flex;
    align-items: center;
    gap: 5px;
}

.kaab-green {
    background: #19B53B;
    color: white;
    border-radius: 24px;
    padding: 4px;
    font-family: 'Inter';
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: 120%;
}

.kaab-muted {
    font-size: 12px !important;
    display: inline;
    color: #3d3d3d;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    line-height: 120%;
    padding-left: 5px;
    margin: 0;
}

.kaab-main {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.kaab-notifications {
    background: white;
    border-radius: 24px;
    padding: 24px;
    width: 57%;
    height: fit-content;
    border: 1px solid #ECECEC;
}

.kaab-notification {
    margin-bottom: 24px;
    border-bottom: 1px solid #eee;
    padding-bottom: 24px;
}

.kaab-notifications h3 {
    color: #292929;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: 120%;
    margin-bottom: 32px;
}

.kaab-notification strong {
    color: #292929;
    font-family: 'Inter';
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: 135%;
}

.kaab-notification span {
    margin-left: 5px;
    color: #656565;
    font-family: 'Inter';
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 135%;
}

.kaab-notification p {
    margin: 5px 0 12px;
    color: #3D3D3D;
    font-family: 'Inter';
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 135%;
}

.kaab-actions {
    display: flex;
    gap: 12px;
    align-items: center;
}

.kaab-actions button {
    color: white;
    font-family: 'Inter';
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: 135%;
    padding: 8px 16px;
    border-radius: 8px;
    background: linear-gradient(272deg, #E31F87 1.58%, #E61E4D 98.73%);
}

.kaab-actions button:first-child {
    color: #E61E4D;
    font-family: 'Inter';
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 135%;
    background: none;
    padding: 0;
    border-radius: 0%;
}

.kaab-charts {
    width: 40%;
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.kaab-graph, .kaab-revenue {
    background: white;
    border-radius: 10px;
    padding: 16px;
    border: 1px solid #ececec;
    position: relative;
}

.kaab-graph-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.kaab-dropdown {
    border-radius: 6px;
    border: 1px solid #ccc;
}

.kaab-revenue-list {
  list-style: none;
  padding: 0;
  font-size: 14px;
  margin-top: 1rem;
}

.kaab-revenue-list li {
  margin: 6px 0;
}

.kaab-dot {
  display: inline-block;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  margin-right: 6px;
}

.kaab-dot.red { background: #f06; }
.kaab-dot.pink { background: #f77; }
.kaab-dot.green { background: #0f6; }


.d-flex canvas {
    max-width: 150px;
    max-height: 150px;
    padding: 4px;
}

.kaab-revenue .d-flex {
    justify-content: space-between;
    align-items: center;
    gap: 20px;
}

.kaab-charts h4 {
    color: #222;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: 120%;
    margin-bottom: 15px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}

.kaab-charts h4 i {
    height: 24px;
    width: 24px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid #292929;
    border-radius: 50%;
    font-size: 16px;
    font-weight: 500;
}