.header-wrap {
  background: #fdfdfd;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 10px;
  max-width: 1280px;
  margin: auto;
}

.header .logo {
    color: #000;
    font-family: Poppins;
    font-size: 32px;
    font-style: normal;
    font-weight: 700;
    line-height: 89%;
    letter-spacing: -0.256px;
    margin: 0;
}

.nav {
  display: flex;
  align-items: center;
  gap: 30px;
}

.nav a {
    color: #3D3D3D;
    font-family: 'Inter';
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 135%;
    text-decoration: none;
}

.btns {
    padding: 8px 16px;
    border-radius: 8px;
    border: 1px solid #292929;
    background: #FFF1F2;
    transition: all 0.3s ease;
    color: #292929;
    font-family: 'Inter';
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 135%;
}

.login {
  color: #292929;
}

.signup {
    color: #E61E4D;
    border-color: #E61E4D;
    background: transparent;
}

/* .signup:hover {
  background-color: #ff416c;
  color: white;
} */


/* Hamburger */
.hamburger {
  display: none;
  flex-direction: column;
  cursor: pointer;
  width: 25px;
  height: 20px;
  justify-content: space-between;
}

.hamburger span {
  height: 3px;
  width: 100%;
  background: #333;
  border-radius: 5px;
  transition: all 0.3s ease;
}

/* Mobile */
@media (max-width: 768px) {
  .hamburger {
    display: flex;
  }

  .nav {
    position: absolute;
    top: 60px;
    right: 0;
    flex-direction: column;
    background: white;
    width: 100%;
    padding: 15px;
    gap: 15px;
    border: 1px solid #ddd;
    box-shadow: 0 5px 15px rgba(0,0,0,0.2);
    display: none; /* default hidden */
  }

  .nav.show {
    display: flex;
  }

  .nav.hide {
    display: none;
  }
}

/* Hamburger Animation */
.hamburger.active span:nth-child(1) {
  transform: rotate(45deg) translateY(8px);
}

.hamburger.active span:nth-child(2) {
  opacity: 0;
}

.hamburger.active span:nth-child(3) {
  transform: rotate(-45deg) translateY(-8px);
}
