.profile-update-container {
  display: flex;
  gap: 2rem;
  font-family: sans-serif;
}

.left-panel {
  width: calc(50% - 1rem);
}

.right-panel {
  width: calc(50% - 1rem);
}


.profile-img-box img {
    width: 100%;
    border-radius: 20px;
    object-fit: cover;
    height: 350px;
    object-position: top center;
    border: 1px solid black;
}

form.password-form input[type="password"] {
    margin-top: 16px;
}

.profile-form-panel {
    margin: 0;
    background: #fff;
    padding: 16px;
    border-radius: 12px;
    box-shadow: 0 6px 18px rgba(0, 0, 0, 0.1);
}

.profile-data-wrap {
    background: #fff;
    padding: 16px;
    border-radius: 12px;
    box-shadow: 0 6px 18px rgba(0,0,0,0.1);
}

.bio-section textarea {
    width: 100%;
    height: 100px;
    padding: 12px;
    border: 1px solid #ececec;
    border-radius: 8px;
}

form.profile-form hr-2 {
    margin: 32px 0;
}

.toggles h3 {
    color: #292929;
    font-size: 18px;
    font-style: normal;
    font-weight: 600;
    line-height: 120%;
    margin-bottom: 21px;
}

.toggles h6 {
    color: #3D3D3D;
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: 135%;
}

.change-password button {
    color: rgb(0, 0, 0);
    font-family: Inter;
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    text-decoration-line: underline;
    text-decoration-style: solid;
    text-decoration-skip-ink: auto;
    text-decoration-thickness: auto;
    text-underline-offset: auto;
    text-underline-position: from-font;
}

.profile-form .form-grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 1rem;
    align-items: center;
}

.profile-form input {
    padding: 0.6rem;
    width: 100%;
    border: 1px solid #ECECEC !important;
    border-radius: 8px;
    color: black;
    font-size: 16px;
}

.toggles {
  margin: 1rem 0;
}

.toggles label {
  display: block;
  margin-bottom: 0.5rem;
}

.save-btn {
  background-color: #2f80ed;
  color: white;
  padding: 0.6rem 1rem;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.change-password {
  margin-top: 1.5rem;
}
.profile-img-box .img-actions {
  display: flex;
  justify-content: right;
  gap: 10px;
  position: absolute;
  top: 0;
  width: 100%;
  padding: 10px;
}
.profile-img-box .img-actions i {
  width: 40px;
  height: 40px;
  background-color: white;
  border-radius: 12px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  color: black;
  font-size: 18px;
}

.profile-img-box {
  position: relative;
}


.wrap-form-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.profile-form label {
    color: #656565;
    font-size: 16px;
}

.wrap-form-header p {
    margin: 0;
    font-size: 14px;
    line-height: 20px;
}

span.MuiSwitch-thumb {
    color: white;
}

span.MuiSwitch-track {
    background: #656565 !important;
}

span.MuiSwitch-root.MuiSwitch-sizeMedium {
    background: #656565;
    border-radius: 15px;
    width: 50px;
    height: 30px;
}

span.MuiButtonBase-root.MuiSwitch-switchBase.MuiSwitch-colorPrimary.PrivateSwitchBase-root.MuiSwitch-switchBase.MuiSwitch-colorPrimary {
    padding: 5px;
}


.toggles div {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 48px;
}
.toggles label {
    display: block;
    color: #000 !important;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    line-height: 135%;
}
hr {
    margin: 2rem 0;
    color: #ECECEC !important;
    opacity: 1 !important;
    border: 0;
    border-top: var(--bs-border-width) solid;
}


.profile-form h2 {
    font-size: 20px;
    line-height: 120%;
    margin: 0;
}


.wrap-form-header button.save-btn {
    margin: 0 !important;
    border-radius: 999px !important;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 8px;
    padding: 4px 16px !important;
    background-color: #f9f9f9;
    color: #656565;
    font-size: 16px;
    font-weight: 500;
    border: 1px solid #ECECEC;
    line-height: 27px;
}

.wrap-form-header .edit-btn {
  margin: 0 !important;
    border-radius: 999px !important;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 8px;
    padding: 4px 16px !important;
    background-color: #f9f9f9;
    color: #656565;
    font-size: 16px;
    font-weight: 500;
    border: 1px solid #ECECEC;
    line-height: 27px;
    cursor: pointer;
}


.profile-data-wrap h2 {
    font-size: 20px;
    line-height: 29px;
    margin: 0;
    text-align: left;
    text-transform: capitalize;
}
 
.head-profile-data {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 10px 0;
}

.head-profile-data .location {
  margin: 0;
}

.profile-form .form-grid p {
    text-align: right;
}

p.events-org img {
    width: 24px;
    height: 24px;
    display: inline-block;
}


p.events-org {
    display: flex;
    gap: 10px;
    font-size: 16px;
    font-weight: 600;
    margin: 15px 0 0;
    align-items: center;
}

.profile-data-wrap hr {
    margin: 24px 0;
    color: #ECECEC !important;
    opacity: 1 !important;
}

.bio-section h6 {
    margin: 0;
    font-size: 16px;
    font-weight: 600;
}

.bio-section .wrap-form-header {
    margin-bottom: 15px;
}

.bio-section .wrap-form-header .edit-btn {
    background: transparent;
    border: none;
    padding: 0 !important;
}

@media (max-width: 768px) {
    .profile-update-container{
        flex-direction: column;
        gap: 2rem;
    }
    .left-panel, .right-panel{
        width: 100%;
    }
}