.review-container {
  background: #fff;
  border-radius: 12px;
  padding: 20px;
  width: 100%;
  font-family: sans-serif;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.05);
      margin-top: 32px;
}
.review-header strong {
    color: #292929;
    font-family: "inter";
    font-size: 18px;
    font-style: normal;
    font-weight: 600;
    line-height: 120%;
}

.review-header {
  display: flex;
  align-items: center;
  gap: 10px;
  margin-bottom: 24px;
  font-size: 16px;
}

.rating {
    color: #FF8915;
    font-family: 'INTER';
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: 135%;
    display: flex;
    align-items: center;
    gap: 5px;
}

.review-count {
    text-decoration: underline;
    color: #656565;
    font-family: 'Inter';
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: 135%;
    text-decoration-color: #656565;
}

.review-list {
  display: flex;
  flex-direction: column;
}

.review-card {
  border-top: 1px solid #eee;
  padding-top: 16px;
}

.review-card:first-child {
  padding-top: 24px;
}

.review-profile strong {
    color: #292929;
    font-family: 'Inter';
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 135%;
}

.review-profile {
  display: flex;
  gap: 12px;
}

.review-profile img {
    width: 48px;
    height: 48px;
    border-radius: 50%;
    object-fit: cover;
}

.review-profile .stars {
    color: #FF8915;
    font-size: 16px;
    margin: 0;
    gap: 6px;
}

.review-text {
    margin-top: 12px;
    color: #3D3D3D;
    font-family: 'Inter';
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 135%;
    margin-bottom: 16px;
}

.view-more {
  margin-top: 20px;
  text-align: left;
}

.view-more-link {
  color: #e91e63;
  font-weight: bold;
  font-size: 14px;
  text-decoration: none;
}
