.login-container {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: white;
}

.login-form {
    border-radius: 28px;
    padding: 48px;
    width: 100%;
    max-width: 600px;
    background: linear-gradient(180deg, #FFF 0%, #FFF1F2 100%);
    box-shadow: 0 8px 24px rgba(0, 0, 0, 0.1);
}

.register-container form.register-form {
    border-radius: 28px;
    padding: 48px;
    width: 100%;
    max-width: 600px;
    background: linear-gradient(180deg, #FFF 0%, #FFF1F2 100%);
    box-shadow: 0 8px 24px rgba(0, 0, 0, 0.1);
    min-height: 582px;
}

.form-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 48px;
}

.form-header h2 {
    margin: 0;
    color: #000;
    font-style: normal;
    font-weight: 700;
    line-height: 106%;
    letter-spacing: -0.256px;
    font-size: 40px;
}

.create-account {
    color: #E61E4D;
    font-family: 'Inter';
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 135%;
    text-decoration-line: underline;
    text-decoration-style: solid;
    text-decoration-skip-ink: auto;
    text-decoration-thickness: auto;
    text-underline-offset: auto;
    text-underline-position: from-font;
}

input[type="email"], input[type="password"] {
    width: 100%;
    color: #656565;
    font-family: 'Inter';
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 135%;
    background: white;
    padding: 12px;
    border-radius: 8px;
    border: 1px solid #ececec;
    margin-top: 8px;
    margin-bottom: 16px;
    outline: none;
}

.login-form label {
    color: #3D3D3D;
    font-family: 'Inter';
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 135%;
}

.form-options label {
    color: #292929;
    font-family: 'Inter';
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: 135%;
    display: flex;
    align-items: center;
    gap: 8px;
}

.form-options {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 12px;
  font-size: 14px;
}

.form-options input[type="checkbox"] {
    width: 16px;
    height: 16px;
}

.forgot-password {
    color: #292929;
    font-family: 'Inter';
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: 135%;
    text-decoration: none;
}

.login-button {
    width: 100%;
    margin-top: 24px;
    padding: 12px 24px;
    background: linear-gradient(272deg, #E31F87 1.58%, #E61E4D 98.73%);
    border-radius: 8px;
    color: white;
    font-family: 'Inter';
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 135%;
}

.divider {
    margin: 24px 0 16px;
    color: #656565;
    text-align: center;
    font-family: 'Inter';
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 135%;
}

.social-buttons {
    display: flex;
    gap: 16px;
    flex-direction: row;
}

.google-button, .apple-button {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 8px;
    padding: 12px 24px;
    border-radius: 8px;
    border: 1px solid #656565;
    background: #fff;
    color: #292929;
    font-family: 'Inter';
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 135%;
    width: 100%;
}

.google-button img, .apple-button img {
    width: 24px;
    height: 24px;
}



.register-container {
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: white;
}

.role-selection {
    border-radius: 28px;
    padding: 48px;
    width: 100%;
    max-width: 600px;
    background: linear-gradient(180deg, #FFF 0%, #FFF1F2 100%);
    box-shadow: 0 8px 24px rgba(0, 0, 0, 0.1);
    min-height: 582px;
}


.role-card img {
    width: 64px;
    height: 64px;
}

.role-card {
    border-radius: 16px;
    padding: 24px;
    margin-bottom: 10px;
    cursor: pointer;
    transition: transform 0.2s;
    display: flex;
    align-items: center;
    background: linear-gradient(180deg, #F9F9F9 0%, #FFCCD3 100%);
    gap: 16px;
    border: 3px solid #ececec;
}

.role-card:hover {
    border: 3px solid #E61E4D;
    background: #FFCCD3;
}

/* .role-card:hover {
  transform: scale(1.02);
} */

.role-card h3 {
    color: #292929;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: 135%;
    margin: 0;
}
.role-card p {
    color: #3d3d3d;
    font-family: 'Inter';
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 135%;
    margin: 0;
}

.register-form input {
  width: 100%;
    color: #656565;
    font-family: 'Inter';
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 135%;
    background: white;
    padding: 12px;
    border-radius: 8px;
    border: 1px solid #ececec;
    margin-top: 8px;
    margin-bottom: 16px;
    outline: none;
}

.button-app {
  width: 100%;
    margin-top: 8px;
    padding: 12px 24px;
    background: linear-gradient(272deg, #E31F87 1.58%, #E61E4D 98.73%);
    border-radius: 8px;
    color: white;
    font-family: 'Inter';
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 135%;
}


.navs-kab a {
    gap: .5rem;
    text-decoration: none;
    font-size: .875rem;
}

.navs-kab a i {
    font-size: 24px;
    line-height: 1;
    font-weight: 700;
    color: oklch(37.3% 0.034 259.733);
}

.navs-kab a:hover i {
    color: rgb(219 39 119);
}

.navs-kab a.active i {
  color: rgb(219 39 119);
}


.success-screen {
    text-align: center;
    padding: 60px 20px;
    border-radius: 12px;
    background: linear-gradient(135deg, #ffe5ec, #e0ffe5, #fff1db);
    max-width: 600px;
    box-shadow: 0 6px 20px rgba(0, 0, 0, 0.1);
    min-height: 582px;
}

.success-icon {
    width: 230px;
    height: 230px;
    margin: auto;
}

.success-screen h2 {
    color: #000;
    text-align: center;
    font-size: 32px;
    font-style: normal;
    font-weight: 500;
    line-height: 115%;
    letter-spacing: 0.03px;
    width: 60%;
    margin: auto;
}

.setup-button {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    width: 100%;
    color: #E61E4D;
    text-align: center;
    font-family: 'Inter';
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: 135%;
    margin-top: 60px;
}

.justify-its {
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: white;
}


.role-selection button.back-button, form.register-form button.back-button {
    padding: 8px 12px;
    border: 1px solid #ECECEC;
    border-radius: 999px;
    display: flex;
    align-items: center;
    gap: 8px;
    margin-bottom: 16px;
    color: #000;
    font-family: 'Inter';
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 135%;
}

.role-selection button.back-button i, form.register-form button.back-button i {
    font-size: 16px;
    font-weight: 600;
    color: #656565;
}

.register-container form.register-form label {
    color: #3D3D3D;
    font-family: 'Inter';
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 135%;
}