body {
    margin: 0;
    font-family: "Poppins", sans-serif !important;
}


@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: "Inter", sans-serif !important;
}



@media only screen and (max-width: 480px) {
    .event-options {
        flex-direction: column;
    }

    .event-column.right:after {
        display: none;
    }

    .event-image {
        flex: 0 0 150px;
    }

    .event-column.left .event-text {
        padding-left: 15px;
    }

    .event-column.right .event-text {
        padding-right: 15px;
    }


    .event-column h2 {
        font-size: 32px;
        line-height: 1.1;
    }

    .event-column.left,
    .event-column.right {
        align-items: unset;
        width: 100%;
    }

    .event-text {
        flex-basis: calc(100% - 150px);
        padding-top: 40px;
        padding-bottom: 40px;
    }

    .event-column p {
        font-size: 16px;
        line-height: 21.60px;
    }

    .event-column .btns {
        margin-top: 20px;
        line-height: 21px;
    }

    .event-column hr {
        margin: 10px 0;
    }

    .boost-staff-inner.d-flex {
        flex-direction: column;
    }

    .slider-container button.slick-arrow {
        width: 50px;
        height: 50px;
    }

    .slider-container button.slick-arrow {
        position: absolute;
        right: 0;
        top: 110%;
        left: unset;
    }

    .slider-container button.slick-arrow.slick-prev {
        left: calc(100% - 110px);
    }

    .TestimonialSlider {
        padding: 60px 0px 90px;
        background: white;
    }

    .TestimonialSlider .left-boost {
        width: 100%;
        flex: 0 0 100%;
        margin-bottom: 24px;
    }

    .TestimonialSlider .all-heads {
        margin-bottom: 15px;
    }

    .faq-banner {
        display: none;
    }

    .accordion {
        flex: 0 0 100%;
    }

    .accordion button.btns.pink {
        width: 100%;
        margin-top: 10px;
    }

    .accordion-header {
        font-size: 16px;
    }

    .all-heads {
        font-size: 40px;
        line-height: 38px;
    }

    .left-boost {
        width: 100%;
    }

    .partners .partners-gallary img {
        height: 20px;
    }

    .partners h3 {
        font-size: 14px;
        line-height: 16.8px;
    }

    .right-boost {
        width: 100%;
    }

    .staff-card .staff-info {
        margin: 0 10px 0 0 !important;
    }

    .EventOptions {
        border: none;
    }

    .event-options {
        padding: 0;
    }

    .Search-container .staff-card .staff-info {
        height: 180px;
        margin: 0 !important;
        background-size: cover;
    }

    .filters .Search-container .staff-card {
        flex-basis: calc(50% - 10px);
    }

    .staff-card .staff-info h3 {
        font-size: 16px;
        font-weight: 600;
        line-height: 21px;
    }

    .filters .Search-container .staff-card .staff-info h3 {
        gap: 0px;
        flex-direction: column;
        align-items: start;
    }

    .staff-card .staff-info h3 span:first-child {
        display: none;
    }

    .name-stars span {
        line-height: 14px;
    }

    .stars {
        margin-top: 5px;
    }

    .d-flex .accordion {
        flex: 0 0 100%;
    }

    .right-boost .staff-list .staff-card {
        flex: 0 0 calc(50% - 5px);
    }

    .right-boost .staff-list {
        display: flex;
        flex-wrap: wrap;
        gap: 10px;
    }

    .right-boost .staff-list .staff-card .staff-info {
        margin: 0 !important;
        max-height: 200px;
        position: relative;
        display: flex;
        flex-direction: column;
        justify-content: end;
    }

    .right-boost .staff-info .icons {
        padding: 0;
        font-size: 15px;
        position: static;
        line-height: 15px;
        margin-top: 10px;
    }

    .right-boost .staff-info .stars {
        display: none;
    }

    .right-boost .staff-card .staff-info h3 a {
        font-size: 16px;
        line-height: 21px;
    }

    .staff-card .staff-info h3 {
        width: 100%;
    }

    .dyn-con {
        flex-direction: column;
        gap: 80px;
    }

    .dyn-con .part-item {
        flex-basis: 100%;
        display: flex;
        gap: 24px;
        align-items: center;
    }

    .dyn-con .featuring-imgs {
        margin-bottom: 0;
        flex: 0 0 100px;
    }

    .dyn-con .featuring-imgs img {
        height: 100px;
        width: 100px;
    }

    .dyn-con:before {
    content: "";
    position: absolute;
    width: 1px;
    background-image: linear-gradient(to bottom, black 50%, transparent 50%);
    background-size: 2px 6px;
    background-repeat: repeat-y;
    left: 50px;
    height: 65%;
    margin: 0;
    top: calc(17.5% + 24px);
}

    .part-item:nth-child(2):before {
        width: 100px;
        height: 80px;
        top: -80px;
        left: unset;
        transform: rotate(90deg);
    }

    .part-item:nth-child(2):after {
        width: 100px;
        height: 80px;
        right: unset;
        bottom: -80px;
        transform: rotate(90deg);
        top: unset;
    }
    .pagination-cont.d-flex {
    flex-direction: column-reverse;
    align-items: start;
}
.pagination-cont .pagination {
    margin: 0;
}
.filter-div.d-flex {
    flex-direction: column;
}
}